{% extends 'base.html' %}
{% block content %}
<h1 class="mt-4">Students</h1>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.student_id }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.dept }}</td>
            <td>
                <a href="{{ url_for('update', student_id=student.student_id) }}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{{ url_for('delete', student_id=student.student_id) }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
